<div class="flex flex-col items-center justify-center w-full h-full bg-white">
  <div class="flex flex-col items-center justify-center w-full my-10 bg-white">
  <div class="flex flex-col items-center justify-center w-full max-w-4xl px-2 sm:px-6 py-6">
    <h2 class="text-xl sm:text-2xl font-bold text-gray-800 text-center">
      Popular Products From All Brands
    </h2>
    <p class="mt-2 text-gray-600 text-center text-sm sm:text-base">
      Join us today and experience the best features we have to offer.
    </p>
  </div>

  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="flex justify-center items-center w-full h-64 sm:h-96">
    <div class="animate-spin rounded-full h-16 w-16 sm:h-20 sm:w-20 border-t-4 border-blue-500"></div>
  </div>

  <!-- No Products Message -->
  <div *ngIf="!isLoading && productList.length === 0" class="flex flex-col items-center justify-center h-64 sm:h-96 px-2">
    <img src="Images/Icons/cloud.png" alt="Not Found" class="w-24 sm:w-1/4 mb-5" />
    <h3 class="text-lg sm:text-xl font-semibold text-gray-700 text-center">No Products Found</h3>
    <p class="text-gray-500 text-center text-sm sm:text-base">Try adjusting your filters or search terms.</p>
  </div>
  <div
  *ngIf="!isLoading"
    class="flex items-center w-full overflow-x-scroll scrollbar-hide space-x-5 p-5"
  >
    @for (product of productList; track $index) {
    <app-product-card [myProduct]="product"></app-product-card>
    }
  </div>
</div>
</div>
