<div class="flex flex-col w-full h-full bg-white p-6 rounded-lg">
  <!-- Overall Rating Section -->
  <div
    class="flex flex-col md:flex-row items-center justify-evenly w-full max-w-3xl space-y-6 md:space-y-0"
  >
    <!-- Overall Rating -->
    <div class="flex flex-col items-center justify-around w-full md:w-1/4">
      <h1 class="text-2xl font-bold text-gray-800">Overall Rating</h1>
      <h3
        class="text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-blue-600"
      >
        {{ product.rating }}
      </h3>

      <p class="text-gray-500 text-sm mt-2">
        Based on {{ product.reviewsCount }} reviews
      </p>
    </div>

    <!-- Divider -->
    <div class="hidden md:block h-32 w-px bg-gray-300"></div>

    <!-- Rating Breakdown -->
    <div
      class="flex flex-col items-start justify-around w-full md:w-2/3 space-y-3"
    >
      <div
        *ngFor="let rating of [5, 4, 3, 2, 1]"
        class="flex items-center space-x-3 w-full"
      >
        <p class="text-sm font-medium text-gray-600">{{ rating }}</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-4 h-4 text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-blue-600"
          viewBox="0 0 24 24"
          fill="#209AFF"
        >
          <path
            d="M12 .587l3.668 7.571 8.332 1.151-6.064 5.882
                   1.48 8.261L12 18.896l-7.416 4.556
                   1.48-8.261L.001 9.309l8.332-1.151z"
          />
        </svg>
        <div class="w-full h-2 bg-gray-300 rounded-full overflow-hidden">
          <div
            class="h-full bg-gradient-to-r from-sky-400 to-blue-600"
            [style.width]="
              (ratingCounts[rating] / product.reviewsCount) * 100 + '%'
            "
          ></div>
        </div>
        <p class="text-sm font-medium text-gray-600">
          ({{ ratingCounts[rating] }})
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Filter Section -->
<div
  class="flex flex-col md:flex-row w-full bg-white m-5 p-6 space-y-4 md:space-x-10 md:space-y-0 rounded-lg"
>
  <h1 class="text-2xl font-bold text-gray-800">
    {{ filteredReviews.length }} Customer Reviews
  </h1>
  <div
    class="flex bg-gray-100 rounded-full overflow-hidden text-sm font-medium"
  >
    <button
      class="px-4 py-2"
      [ngClass]="{
        'bg-gradient-to-r from-sky-400 to-blue-600 text-white':
          selectedFilter === 'all',
        'text-gray-500 hover:bg-gray-200': selectedFilter !== 'all'
      }"
      (click)="filterReviews('all')"
    >
      ALL
    </button>
    <button
      class="px-4 py-2"
      [ngClass]="{
        'bg-gradient-to-r from-sky-400 to-blue-600 text-white':
          selectedFilter === 'non-arabic',
        'text-gray-500 hover:bg-gray-200': selectedFilter !== 'non-arabic'
      }"
      (click)="filterReviews('non-arabic')"
    >
      English
    </button>
    <button
      class="px-4 py-2"
      [ngClass]="{
        'bg-gradient-to-r from-sky-400 to-blue-600 text-white':
          selectedFilter === 'arabic',
        'text-gray-500 hover:bg-gray-200': selectedFilter !== 'arabic'
      }"
      (click)="filterReviews('arabic')"
    >
      Arabic
    </button>
  </div>
</div>

<!-- Individual Reviews -->
<div
  *ngFor="let review of filteredReviews; trackBy: trackByReview"
  class="flex flex-col w-full bg-white m-5 p-6 space-y-5 rounded-lg"
>
  <div class="flex flex-row w-full">
    <div
      class="rounded-full h-12 w-12 flex items-center justify-center text-lg font-bold text-white bg-gradient-to-r from-sky-400 to-blue-600"
    >
      <img
        [src]="
          getReviewerImageUrl(review.user) ||
          'Images/Authentication/Main User Photo 2.svg'
        "
        alt="Reviewer"
        class="w-full h-full rounded-full object-cover"
      />
    </div>
    <div
      class="flex flex-col ml-5 items-start justify-around w-full md:w-2/3 space-y-1"
    >
      <div class="flex flex-row items-center space-x-2">
        <h1 class="text-xl font-bold text-gray-800">
          {{ getReviewerName(review.user) || "Anonymous" }}
        </h1>
      </div>
      <div class="flex items-center space-x-2 w-full">
        <p class="text-md font-medium text-gray-600">{{ review.rating }}</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-4 h-4 text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-blue-600"
          viewBox="0 0 24 24"
          fill="#209AFF"
        >
          <path
            d="M12 .587l3.668 7.571 8.332 1.151-6.064 5.882
                     1.48 8.261L12 18.896l-7.416 4.556
                     1.48-8.261L.001 9.309l8.332-1.151z"
          />
        </svg>
      </div>
      <p class="text-gray-500 text-sm">
        {{ review.createdAt | date : "mediumDate" }}
      </p>
      <p class="text-gray-600 text-sm">{{ review.comment }}</p>
    </div>
  </div>
</div>

<!-- Add Review Section -->
<div class="flex flex-col items-center">
  <div
    class="flex flex-col w-1/2 bg-white m-5 p-6 space-y-4 rounded-lg shadow-md items-center"
  >
    <h2 class="text-xl font-bold text-gray-800 text-center">Add Your Review</h2>
    <form (ngSubmit)="addReview()" class="space-y-4 w-2/3">
      <!-- Review Input -->
      <div>
        <label for="review" class="block text-sm font-medium text-gray-700"
          >Your Review</label
        >
        <textarea
          id="review"
          [(ngModel)]="newReview.comment"
          name="review"
          rows="4"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
          placeholder="Write your review here..."
          required
        ></textarea>
      </div>

      <!-- Rating Input -->
      <div>
        <label for="rating" class="block text-sm font-medium text-gray-700"
          >Your Rating</label
        >
        <select
          id="rating"
          [(ngModel)]="newReview.rating"
          name="rating"
          class="mt-1 block w-1/2 h-5 rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
          required
        >
          <option value="" disabled>Select a rating</option>
          <option *ngFor="let rating of [5, 4, 3, 2, 1]" [value]="rating">
            {{ rating }}
          </option>
        </select>
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        class="w-full bg-gradient-to-r from-sky-400 to-blue-600 text-white font-bold py-2 px-4 rounded-md hover:from-sky-500 hover:to-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
      >
        Submit Review
      </button>
    </form>
  </div>
</div>
