
<div class="w-[70vw] flex flex-col gap-6">
    <p class="text-2xl font-bold">Add Product </p>
    <!-- Search Input -->
    <div class="flex justify-between w-[70%] h-10 pl-10 bg-[#edeefc] rounded-full overflow-hidden">
        <input class="w-[70%]" type="text" placeholder="Search By Customer Name">
        <!-- Search Icon -->
         <div class="h-full w-[7%] bg-gradient-to-r from-blue-800 to-blue-500 flex justify-center items-center">
             <svg class=" w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
               <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
             </svg>
         </div>
    </div>
    <div>
      <!-- User -->
        <div class="w-[70%] p-1 bg-gradient-to-r from-blue-800 to-blue-500 rounded-md">
        <!-- White Background -->
        <div class="w-full bg-white">
            <!-- Header -->
             <div 
             class="w-full py-2 pl-4 pr-2 bg-gradient-to-r from-blue-800 to-blue-500 
             flex justify-between items-center"
             (click)="Toggle()"
             >
                <p class="text-xl font-bold text-white">Ibrahim Medhat Ragab</p>
                <!-- Arrow Icon -->
                <svg class="w-10 h-10 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m16 14-4-4-4 4"/>
                </svg>


             </div>
             <!-- Content -->
              <div class="flex flex-col gap-2 p-4" *ngIf="Play">
                 <!-- First Row -->
                  <div class="flex justify-between rounded-lg p-2 items-center">
                      <p class="text-lg">1.Order#1234</p>
                      <select class="border-gray-700 border-2 rounded-lg p-2">
                        <option value="">pending</option>
                      </select>
                      <div class="flex gap-6">
                          <button class="text-xl text-white font-bold p-3 rounded-lg bg-green-600">Save</button>
                          <button class="text-xl text-white font-bold p-3 rounded-lg 
                          bg-gradient-to-r from-blue-800 to-blue-500">View</button>
                      </div>
                  </div>
                <!-- Second Row -->
                  <div class="flex justify-between rounded-lg p-2 items-center">
                      <p class="text-lg">1.Order#1234</p>
                      <select class="border-gray-700 border-2 rounded-lg p-2">
                        <option value="">pending</option>
                      </select>
                      <div class="flex gap-6">
                          <button class="text-xl text-white font-bold p-3 rounded-lg bg-green-600">Save</button>
                          <button class="text-xl text-white font-bold p-3 rounded-lg 
                          bg-gradient-to-r from-blue-800 to-blue-500">View</button>
                      </div>
                  </div>
              </div>
        </div>

    </div>
</div>

</div>