<div #checkoutWrapper class="flex justify-center">
   <div class="w-[37%] flex flex-col gap-4 p-4 rounded-xl mb-5">
      <p class="text-xl font-bold">Choose Payment Type:</p>

      <div class="flex gap-4 ml-7 mt-2 items-center">
        <input
          type="radio"
          id="COD"
          name="paymentType"
          value="cash"
          [(ngModel)]="selectedPayment"
          (ngModelChange)="SetPaymentView()"
          class="w-6 h-6 accent-gradient bg-gradient-to-r from-sky-400 to-blue-600"
        />
        <label for="COD" class="text-lg font-medium">Cash On Delivery (COD)</label>
      </div>

      <div class="flex gap-4 ml-7 items-center">
        <input
          type="radio"
          id="Credit"
          name="paymentType"
          value="stripe"
          [(ngModel)]="selectedPayment"
          (ngModelChange)="SetPaymentView()"
          class="w-6 h-6 accent-gradient bg-gradient-to-r from-purple-400 to-pink-600"
        />
        <label for="Credit" class="text-lg font-medium">Credit Card</label>
      </div>
      @if(selectedPayment=="Confuse"){
        <img
        src="Images/Checkout Page/Confuse.png"
        class="w-full"
        alt="Payment Method"
      />
      }
       @if(selectedPayment=="cash"){
        <img
        src="Images/Checkout Page/Delivery.png"
        class="w-full"
        alt="Payment Method"
      />
        }
        @if(selectedPayment=="stripe"){
          <!-- Card Template -->
          <div
            class=" max-w-[65%] mt-4 mx-auto relative group bg-gradient-to-r from-blue-800 to-blue-500 text-white rounded-xl p-6 space-y-3 shadow-lg transition-transform duration-200 hover:scale-105 hover:shadow-2xl"
          >
            <div class="flex ml-1 justify-between items-center" >
              <span class="text-xl font-semibold">Credit Card</span>
              <span class="text-sm">Bank Masr</span>
            </div>
            <img src="Images/Icons/sim card.png" class="max-w-[50px] ml-1"/>
            <input
              name="CardNum"
              type="text"
              [disabled]="!AddClicked"
              (input)="FRestrict($event)"
              class="w-[100%] text-2xl font-mono mb-0 tracking-widest px-1 py-1 border border-transparent rounded outline-none focus:ring-0 focus:border-white bg-transparent"
              [value]="!AddClicked ? 'XXXX XXXX XXXX '+CurrentCard.cardNumber.slice(-4) : CurrentCard.cardNumber"
              />
            <input
              class="text-sm px-1 py-1 border border-transparent rounded outline-none focus:ring-0 focus:border-white bg-transparent"
              [value]="!AddClicked ? 'CVV':CurrentCard.cvv"
              [disabled]="!AddClicked"
              (input)="FRestrict($event)"
              name="CVV"
              />

            <div class="flex justify-between text-xs items-end">
              <input
                type="text"
                class="font-semibold w-70 px-1 py-1 border border-transparent rounded outline-none focus:ring-0 focus:border-white bg-transparent"
                [value]="CurrentCard.cardHolderName"
                [disabled]="!AddClicked"
                name="HolderName"
                (input)="FRestrict($event)"

                />

              <div class="flex flex-col items-end">
                <span class="w-fit">VALID</span>
                <div class="flex gap-1">
                  <span>THRU ▶</span>
                  <input
                    type="text"
                    [value]="CurrentCard.expiryDate"
                    [disabled]="!AddClicked"
                    name="Expiry"
                    (input)="FRestrict($event)"
                    class="w-[33px] border border-transparent rounded outline-none focus:ring-0 focus:border-white bg-transparent" />
                </div>
              </div>
            </div>

          </div>

          <div class="flex gap-4 mx-auto mt-2">
              <div class="p-[2px] rounded bg-gradient-to-r from-blue-800 to-blue-500 inline-block shadow-md">
                <button
                (click)="Prev()"
                class="bg-white rounded px-4 py-2 text-lg text-blue-800 hover:bg-gradient-to-r from-blue-800 to-blue-500 transition hover:text-white hover:font-bold">
                  Prev
                </button>
              </div>
              <div class="p-[2px] rounded bg-gradient-to-r from-blue-800 to-blue-500 inline-block shadow-md">
                <button
                (click)="ADD()"
                class="bg-white rounded px-4 py-2 text-lg text-blue-800 hover:bg-gradient-to-r from-blue-800 to-blue-500 transition hover:text-white hover:font-bold">
                  {{CardBut}}
                </button>
              </div>
              <div class="p-[2px] rounded bg-gradient-to-r from-blue-800 to-blue-500 inline-block shadow-md">
                <button
                (click)="Next()"
                class="bg-white rounded px-4 py-2 text-lg text-blue-800 hover:bg-gradient-to-r from-blue-800 to-blue-500 transition hover:text-white hover:font-bold">
                  Next
                </button>
              </div>
          </div>
        }

    </div>


    <div class="bg-[#F6F6F6] mb-6 p-6 rounded-xl shadow-sm w-full lg:w-80 space-y-4 min-w-0">
      <h3 class="font-semibold text-lg border-b pb-2">Order Summary</h3>
      <div class="flex justify-between text-sm">
        <span>{{prdWithStock.length}} Items</span>
        <span>{{cartTotal||0}} EGP</span>
      </div>

      <div>
        <label class="block text-sm font-medium mb-1">Shipping</label>
        <!-- Add this in your template -->
          <select
            [(ngModel)]="selectedDelivery"
            class="w-full border px-2 pr-2.5 py-1 rounded text-sm bg-gray-50"
            >
            <option [value]="30">Standard Delivery - 30 EGP</option>
            <option [value]="50">Fast Delivery - 50 EGP</option>
          </select>
      </div>

      <div>
      <label class="block text-sm font-medium mb-1">Shipping Address</label>

      <!-- City & Street -->
      <div class="flex gap-2.5">
        <!-- City Select -->
        <input
          type="text"
          [(ngModel)]="user.address.city"
          [disabled]="HasAddressBool"
          name="city"
          required
          #cityRef="ngModel"
          class="w-[50%] border px-2 pr-2.5 py-1 rounded text-sm bg-gray-50"
        />


        <!-- Street Input (Only letters allowed) -->
        <input
          type="text"
          name="street"
          required
          pattern="^[A-Za-z\s\-]+$"
          [(ngModel)]="user.address.street"
          [disabled]="HasAddressBool"
          #streetRef="ngModel"
          class="w-[50%] px-2 border py-1 rounded text-sm bg-gray-50"
          placeholder="Street"
        />
      </div>
      <div class="text-red-500 text-xs mt-1">
        <div *ngIf="cityRef.invalid && cityRef.touched">City is required.</div>
        <div *ngIf="streetRef.invalid && streetRef.touched">
          Street is required and must contain only letters.
        </div>
      </div>

      <!-- Building & Apartment Number -->
      <div class="flex gap-2.5 mt-2">
        <!-- Building Number -->
        <input
          type="number"
          name="bnum"
          required
          min="1"
          [disabled]="HasAddressBool"
          [(ngModel)]="user.address.buildingNumber"
          #bnumRef="ngModel"
          class="w-[50%] px-2 border py-1 rounded text-sm bg-gray-50"
          placeholder="Building Num"
        />

        <!-- Apartment Number -->
        <input
          type="text"
          name="apart"
          required
          min="1"
          [disabled]="HasAddressBool"
          [(ngModel)]="user.address.apartmentNumber"
          #apartRef="ngModel"
          class="w-[50%] px-2 border py-1 rounded text-sm bg-gray-50"
          placeholder="Apart Num"
        />
      </div>
      <div class="text-red-500 text-xs mt-1">
        <div *ngIf="bnumRef.invalid && bnumRef.touched">
          Building number is required and must be a number.
        </div>
        <div *ngIf="apartRef.invalid && apartRef.touched">
          Apartment number is required
        </div>
      </div>

      <button
        *ngIf="!HasAddressBool"
        class="mt-2 bg-gradient-to-r from-sky-400 to-blue-600 py-2 px-3 text-md text-white font-bold rounded-sm"
        (click)="SaveAddress()">
        Save
      </button>


    </div>

      <div>
        <label class="block text-sm font-medium mb-1">Promo Code</label>
        <input
          type="text"
          class="w-full border px-3 py-1 rounded text-sm bg-gray-50"
          [(ngModel)]="Promo"/>
        <button class="mt-2 bg-gradient-to-r from-sky-400 to-blue-600 py-2 px-3 text-md text-white font-bold rounded-sm" (click)="ApplyPromo()">Apply</button>
        @if(PromoCheck && Clicked){
           <label class="ml-4 text-md text-green-500 font-bold">Applied</label>
        }
        @if(!PromoCheck && Promo.length>0 && Clicked){
           <label class="ml-4 text-md text-red-700 font-bold">Wrong Promo Code</label>
        }
      </div>

      <hr />

      <div class="flex justify-between font-medium text-base">
        <span>Total Cost</span>
        <span>{{ GetTotal() || 0 }} EGP</span>
      </div>

      <button
        (click)="Checkout()"
        class=" w-full bg-gradient-to-r from-sky-400 to-blue-600 text-white text-center font-bold py-2 rounded-md shadow">
        Checkout
      </button>
    </div>
</div>
