<div
  id="userPanel"
  class="absolute right-0 mt-2 w-48 bg-white rounded-xl shadow-lg p-4 text-center"
>
  <!-- Avatar -->
  <div class="flex justify-center mb-3">
    <img
      src="Images/Icons/user photo.png"
      alt="User Avatar"
      class="w-14 h-14 border-sky-400"
    />
  </div>
  <!-- Name -->
  <p class="text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-blue-600 font-bold text-lg mb-4">Guest</p>

  <!-- Buttons -->
  <button
    class="bg-gradient-to-r from-sky-400 to-blue-600 hover:bg-blue-600 text-white px-4 py-2 mb-2 w-30 rounded-full shadow-md transition duration-300"
    (click)="fire()"
  >
    <!-- <a [routerLink]="[{ outlets: { primary: 'home', side: 'auth' } }]">
      Create Account
    </a> -->
    <a
      class="block"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="bg-sky-500 hover:bg-sky-600"
      routerLink="/auth"
      >Create Account</a
    >
  </button>
</div>

